@import '../abstracts/variables';

.answer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 20px;
  align-items: end;

  @media screen and (max-width: $sm) {
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
  }

  &__input {
    @media screen and (max-width: $sm) {
      grid-row-start: span 2;
    }
  }

  &__icon-delete {
    cursor: pointer;
    fill: #696f79;
    margin-bottom: 12px;

    @media screen and (max-width: $sm) {
      margin: 0px;
    }

    &:hover {
      fill: #92a69d;
    }
  }

  &__radio {
    margin-bottom: 15px;

    @media screen and (max-width: $sm) {
      margin: 0px;
    }
  }
}
