.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  font-weight: 700;
  font-size: 16px;

  min-width: 125px;

  line-height: 24px;
  letter-spacing: 0.2px;

  padding: 6.4px 15px;

  border: 0px;
  border-radius: 50px;

  color: #fff;

  transition: background-color ease 0.35s;
}

.primary {
  background-color: #92a69d;

  &:hover:enabled {
    cursor: pointer;
    background-color: #9eb3a9;
  }

  &:disabled {
    opacity: 0.6;
  }
}

.secondary {
  background-color: #aaaaaa;

  &:hover:enabled {
    cursor: pointer;
    background-color: #bdbdbd;
  }

  &:disabled {
    opacity: 0.6;
  }
}

.rounded {
  border-radius: 0px 30px 30px 0px;
  min-width: fit-content;
  position: relative;

  &::before {
    content: '';
    width: 20px;
    height: 62px;
    background-color: #fff;
    display: inline-block;
    position: absolute;
    left: -20px;
    top: 0;
  }
}
