.input-wrapper{
  display: grid;
  gap: 13px;

  &__title{
    color: #696F79;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &__input{
    border: 0px;
    padding: 20px 30px;
    border-radius: 30px;
    box-shadow: 0px 15px 40px 5px #E1E1E1;
  }

}

.radioBtn {
  font-size: 1rem;
  display: flex;
  align-items: center;

  input {
    display: none;
  }

  &__checkmark {
    fill: #696F79;
    cursor: pointer;

    &:hover{
      fill: #5ED29E;
    }
  }

  input:checked + svg {
    fill: #5ED29E;
  }
}