.quiz-modal{
  border-radius: 30px;
  background: #F4F4F4 !important;
}

.question-modal{
  padding: 40px 90px;

  &__title{
    display: grid;
    justify-items: center;

    margin-bottom: 35px;

    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

  }
}