/**
 * Variables
*/

/* Typography */

@import url("https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");

$font__main: "Nunito";
$font__line-height-body: 1.5;

/* Breakpoints */

$maxWidth: 1440px;
/* Paths */
/* Grid setup */
/* Colour palette */

$color__text-main: #404040;
