body {
  height: 100vh;
  background-color: #fbf9f9;
}

.main {
  height: 100%;
}

.layout {
  display: flex;
  position: relative;
  gap: 2rem;

  &__main-content {
    flex-grow: 1;
    padding-top: 126px;
    padding-bottom: 36px;
    padding-right: 30px;
    padding-left: 30px;

    @media screen and (max-width: $md) {
      padding-top: 40px;
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  @media screen and (max-width: $md) {
    gap: 0px;
  }
}
