body {
  height: 100vh;
  background-color: #FBF9F9;
}

.layout {
  display: flex;
  height: 100%;
  position: relative;
  gap: 2rem;

  &__main-content {
    flex-grow: 1;
    padding-top: 126px;
    padding-bottom: 36px;
    padding-right: 24px;
  }
}
